services:
  # 1. App Service
  app:
    # DAT TEN ANH MOI DE KHONG BI CACHE
    image: chat_os_prod_v1
    container_name: chat_os_app
    build: .
    env_file:
      - .env
    environment:
      - FB_VERIFY_TOKEN=${FB_VERIFY_TOKEN}
      - FB_APP_SECRET=${FB_APP_SECRET}
    
    # CHI MOUNT FILE .ENV
    volumes:
      - ./.env:/app/.env
    
    working_dir: /app
    
    # EP CHAY FILE BINARY
    command: ./main
    
    depends_on:
      - db
      - redis
    networks:
      - chat_net
    ports:
      - "8080:8080"

  # 2. Database
  db:
    image: mariadb:11.4
    container_name: chat_os_db
    env_file:
      - .env
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASS}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
    networks:
      - chat_net
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  # 3. Redis
  redis:
    image: redis:7.2-alpine
    container_name: chat_os_redis
    networks:
      - chat_net
    ports:
      - "6379:6379"

  # 4. Nginx
  nginx:
    image: nginx:alpine
    container_name: chat_os_nginx
    ports:
      - "80:80"
    volumes:
      - ./web/static:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - chat_net

  # 5. Tunnel
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: chat_os_tunnel
    restart: unless-stopped
    command: tunnel --url http://nginx:80
    networks:
      - chat_net

networks:
  chat_net:
    driver: bridge

volumes:
  db_data:
