/* Scrollbar tinh tế cho Light Theme */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* gray-200 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #cbd5e1; /* gray-300 */
}

/* Ẩn outline */
*:focus {
  outline: none !important;
}

/* Active Nav Item */
.active-nav {
  background-color: #eff6ff; /* blue-50 */
  color: #2563eb; /* blue-600 */
}
